<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>


<main layout:fragment="content">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>로그인 페이지</h1>
            <form action="/auth" method="post">
                <div>
                    <label for="email">Username</label>
                    <input type="text" id="email" name="email" placeholder="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</main>
</html>